input, textarea, select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--stroke-default);

    padding: .75rem 1rem;

    font: var(--text)
}

label {
    font: var(--text-sm);
    color: var(--text-secondary);

    display: block;
    margin-bottom: .25rem;
}

input:focus,
select:focus,
textarea:focus {
    outline: .25rem solid var(--surface-secondary);
    border: .125rem solid var(--stroke-highlight);
    outline-offset: .1px;
}